body {
  top: 0px;
left: 0px;

  height: 3000px;
  background-image: linear-gradient(137deg, #535f6a 7.14%, #677581 7.14%, #677581 30.95%, #a6aaae 30.95%, #a6aaae 42.86%, #babbbd 42.86%, #babbbd 50%, #535f6a 50%, #535f6a 57.14%, #677581 57.14%, #677581 80.95%, #a6aaae 80.95%, #a6aaae 92.86%, #babbbd 92.86%, #babbbd 100%);
  background-size: 6000.81px ;
}

