body {
    
  /* background-image: linear-gradient(137deg, #535f6a 7.14%, #677581 7.14%, #677581 30.95%, #a6aaae 30.95%, #a6aaae 42.86%, #babbbd 42.86%, #babbbd 50%, #535f6a 50%, #535f6a 57.14%, #677581 57.14%, #677581 80.95%, #a6aaae 80.95%, #a6aaae 92.86%, #babbbd 92.86%, #babbbd 100%);
  background-size: 6000.81px ; */
  /* background: linear-gradient(130deg, #C0BEBE, #9EAFBC, #505D68, #9EAFBC); */
  /* background: linear-gradient(135deg, #505D68 20%,#9EAFBC 20%, #C0BEBE 80%)  */
  /* background: linear-gradient(135deg, #505D68 20%,#9EAFBC 20% 60%,#C0BEBE 60% 80%,#505D68 80%,#505D68 0%  );  */

  /* gradient not performing when no content so given a single color background */
  background: #505D68;
  
  
}
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #535f6a;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #535f6a;
  border: 2px solid #535f6a;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

